.cause-card {
  user-select: none;
  display: flex;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: start;
  text-align: start;
  -webkit-box-pack: start;
  justify-content: start;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: 700;
  gap: 0.25rem;
  word-break: break-word;
  box-shadow: none;
  border: none;
  width: 120px;
  height: 120px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;




  .title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 700;
  }

  .plus-wrapper {
    margin-block-start: auto;
    cursor: pointer;

    .mark-wrapper{
      background: rgb(51, 51, 51);
      width: 2rem;
      height: 2rem;
      border: 2px solid rgb(51, 51, 51);
      border-radius: 50%;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
    }
  }
}