.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1, h2 {
    margin-bottom: 1rem;
  }

  .back-btn {
    width: 3rem;
    height: 3rem;
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    top: 0;
    transform: translateY(-100%);
    color: #fff;
    display: grid;
    place-content: center;
    cursor: pointer;
    text-decoration: none;
  }

  h2 {
    max-width: 40ch;
    text-align: center;
    color: rgb(51, 51, 51);

  }

  .google-btn {
    min-height: 48px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background: rgb(255, 255, 255);
    font-size: 1rem;
    width: 340px;
    margin-block: 2rem;

    img {
      margin-inline-end: 0.25rem;
    }
  }

  .divider {
    color: rgb(102, 102, 102);
  }

}

