.button-root.rounded-btn {
  border-radius: 50px;
  padding: 10px 20px;
  text-transform: none;
}

.primary-btn {
  background: rgb(17, 17, 17) !important;
  color: rgb(255, 255, 255) !important;
  min-height: 48px !important;
  min-width: 155px !important;
  border-radius: 2.25rem !important;
  font-size: 1rem !important;
  line-height: 1.25rem !important;
  font-weight: 700 !important;
  text-transform: none !important;

}
