.form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  input {
    color: rgb(84, 84, 84);
    padding: 0.625rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 10px;
  }
}

.submit-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block: 2rem;

  button {
    margin-inline: auto;
    max-width: 240px !important;
  }

  .divider {
    margin-bottom: 1rem;
  }
}